label {
  line-height: 1.71;
  display: inline-block;
  font-weight: 700;
  margin-bottom: 3px;
}

.container {
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
}

.archive-course-main {
  display: grid;
  grid-template-columns: 33.3% 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "filter-container course-container";
}

.filter-container {
  grid-area: filter-container;
}
.filter-container .filter-container-wrapper {
  padding: 45px 40px 40px;
  background-color: #FFFFFF;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}
.filter-container .filter-container-wrapper h2 {
  font-size: 24px;
}
.filter-container .filter-container-wrapper .filter-element {
  margin-bottom: 10px;
}
.filter-container .filter-container-wrapper .filter-element select,
.filter-container .filter-container-wrapper .filter-element .button-clear {
  text-transform: uppercase;
  display: block;
  width: 100%;
  font-size: 10px;
  letter-spacing: 1px;
  min-width: 170px;
  text-decoration: none;
  border-radius: 50px;
  padding: 13px 20px 11px;
  box-sizing: border-box;
  outline: 0;
  line-height: 1.4;
  font-weight: 700;
}
.filter-container .filter-container-wrapper .filter-element select {
  text-align: left;
  color: black;
  background-color: #F2F2F2;
  border: 1px solid #F2F2F2;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.filter-container .filter-container-wrapper .filter-element .button-clear {
  text-align: center;
  color: #1200ff;
  background-color: #FFFFFF;
  border: 1px solid #1200ff;
  cursor: pointer;
}
.filter-container .filter-container-wrapper .filter-element .filter-element-checkbox {
  margin-bottom: 13px;
}
.filter-container .filter-container-wrapper .filter-element .filter-element-checkbox span {
  position: relative;
  display: inline-block;
  padding-left: 26px;
}
.filter-container .filter-container-wrapper .filter-element .filter-element-checkbox span::before {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  border: 1px solid black;
}

.course-container {
  padding-left: 15px;
  grid-area: course-container;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "card1 card2" "card3 card4" "card5 card6";
}
.course-container .card1 {
  grid-area: card1;
}
.course-container .card2 {
  grid-area: card2;
}
.course-container .card3 {
  grid-area: card3;
}
.course-container .card4 {
  grid-area: card4;
}
.course-container .card5 {
  grid-area: card5;
}
.course-container .card6 {
  grid-area: card6;
}
.course-container .course-card {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px;
  position: relative;
}
.course-container .course-card a {
  padding: 40px 40px 25px;
  background-color: #FFFFFF;
  color: black;
  text-decoration: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "course-card-image" "h2" "p" "course-card-features";
}
.course-container .course-card .course-card-image img {
  width: 97px;
  height: 97px;
}
.course-container .course-card span.course-card-label {
  position: absolute;
  right: 4px;
  color: #FFFFFF;
  /* border: 1px red; */
  border: 1px solid #F305D9;
  border-radius: 50px;
  padding: 5px 15px;
  background-color: #F305D9;
}
.course-container .course-card ul.course-card-features {
  display: flex;
  list-style: none;
  padding-left: 0;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.course-banner-wrapper {
  height: auto;
  width: auto;
}
.course-banner-wrapper img {
  width: 100%;
  margin-bottom: 25px;
}/*# sourceMappingURL=ProgramPage.css.map */